body {
  transition: all .5s ease;
}
.reveal {
  font-size: 36px;
}
.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  font-family: Gill Sans, sans-serif;
  font-weight: 300;
  line-height: 1.25;
}
.reveal a {
  color: #006fc9;
  text-shadow: none;
}
.reveal a:hover,
.reveal a:focus {
  color: #0061b0;
}
.reveal em {
  color: #006fc9;
  font-style: normal;
}
.reveal strong {
  color: #fff;
  font-weight: inherit;
  padding: .05em .3em;
  position: relative;
}
.reveal strong:before {
  background: #006fc9;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skewX(-15deg);
  width: 100%;
  z-index: -1;
}
.reveal blockquote {
  border: none;
  border-left: 5px solid #999999;
  box-shadow: none;
  margin: 1.5em 0;
  padding-left: 1em;
  text-align: left;
  width: auto;
}
.reveal blockquote,
.reveal blockquote p {
  line-height: 1.5;
}
.reveal blockquote:before,
.reveal blockquote:after {
  content: none;
}
.reveal small {
  font-size: 1em;
}
.reveal section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reveal footer {
  bottom: -25%;
  position: absolute;
  width: 100%;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
h1 .bbc,
h2 .bbc,
h3 .bbc {
  font-family: Helvetica;
  font-size: 1.9em;
  font-weight: 500;
  text-shadow: none;
}
.background-light .reveal .state-background {
  background-color: rgba(0, 0, 0, 0.3);
}
.background-light .reveal .slides .present {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.background-dark .state-background {
  background-color: rgba(0, 0, 0, 0.1);
}
.background-dark .slides .present {
  color: #fff;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
.code .reveal em {
  color: #ff0;
}
.contrasted .reveal .state-background {
  background-color: #006fc9;
}
.contrasted .reveal .slides .present {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.contrasted .reveal em {
  color: #ff0;
}
.contrasted .reveal strong {
  color: #006fc9;
}
.contrasted .reveal strong:before {
  background-color: #fff;
}
.code body {
  background-color: #23241f;
  color: #fff;
}
.code .reveal code {
  color: #bfbfbf;
}
.code .reveal pre {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.code .reveal pre .attribute,
.code .reveal pre .symbol,
.code .reveal pre .symbol .string,
.code .reveal pre .tag .title,
.code .reveal pre .value,
.code .reveal pre .css .tag {
  color: #fb70a2;
}
.controls div.navigate-down {
  border-top-color: #006fc9;
}
.controls div.navigate-up {
  border-bottom-color: #006fc9;
}
.controls div.navigate-right {
  border-left-color: #006fc9;
}
.controls div.navigate-left {
  border-right-color: #006fc9;
}
.progress span {
  background: rgba(0, 111, 201, 0.7);
}
