body {
  transition: all .5s ease;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
h1 .bbc,
h2 .bbc,
h3 .bbc {
  font-family: Helvetica;
  font-size: 1.9em;
  font-weight: 500;
  text-shadow: none;
}
footer {
  bottom: -25%;
  position: absolute;
  width: 100%;
}
.reveal {
  font-size: 36px;
}
.reveal,
.reveal a {
  text-shadow: none;
}
.reveal sup {
  top: 0;
}
.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-weight: 300;
  line-height: 1.25;
}
.reveal blockquote {
  background: transparent;
  box-shadow: none;
  font-size: 1.55em;
  font-style: normal;
  margin-bottom: 1em;
  text-align: left;
  width: 80%;
}
.reveal blockquote p {
  border-left: 7px solid #999999;
  padding-left: 1em;
}
.reveal table {
  border-collapse: collapse;
}
.reveal table thead th {
  border-bottom: 1px double #555555;
  font-weight: normal;
  padding: .7em .5em;
}
.reveal table tbody td,
.reveal table tbody th {
  border-bottom: 1px solid #555555;
  padding: .5em;
}
.reveal ul,
.reveal ol {
  margin: .5em 0;
}
.reveal pre,
.reveal code {
  font-family: "Droid Sans Mono", "Andale Mono", "Courrier New", monospace;
}
.reveal pre {
  font-size: .9em;
  width: auto;
}
.reveal pre code[class] {
  max-height: 80vh;
}
.reveal a {
  border-bottom: 1px solid #FF931C;
  text-decoration: none;
}
.reveal em {
  color: #FF931C;
  font-style: normal;
}
.reveal strong {
  background: rgba(255, 147, 28, 0.9);
  color: #fff;
  font-weight: inherit;
  padding-left: .3em;
  padding-right: .3em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.reveal section h1:last-child,
.reveal section h2:last-child,
.reveal section h3:last-child,
.reveal section h1.last-child,
.reveal section h2.last-child,
.reveal section h3.last-child {
  margin-bottom: 0;
}
.reveal .controls div.navigate-down {
  border-top-color: #FF931C;
}
.reveal .controls div.navigate-up {
  border-bottom-color: #FF931C;
}
.reveal .controls div.navigate-right {
  border-left-color: #FF931C;
}
.reveal .controls div.navigate-left {
  border-right-color: #FF931C;
}
.reveal .progress span {
  background: rgba(255, 147, 28, 0.7);
}
.background-light .reveal .state-background {
  background-color: rgba(0, 0, 0, 0.4);
}
.background-light .reveal .slides .present {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.background-dark strong,
.background-contrasted strong {
  background: rgba(255, 147, 28, 0.7);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.background-dark .state-background {
  background-color: rgba(0, 0, 0, 0.1);
}
.background-dark .slides .present {
  color: #fff;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
.contrasted body,
.attention body {
  background-color: #7F490E;
  color: #fff;
}
.contrasted em,
.attention em,
.contrasted i,
.attention i,
.contrasted a,
.attention a {
  color: yellow;
}
.attention body {
  background-color: #000;
}
.code body {
  background-color: #23241f;
  color: #fff;
}
.code .reveal code {
  color: #bfbfbf;
}
.code .reveal pre {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.code .reveal pre .attribute,
.code .reveal pre .symbol,
.code .reveal pre .symbol .string,
.code .reveal pre .tag .title,
.code .reveal pre .value,
.code .reveal pre .css .tag {
  color: #fb70a2;
}
